<<<<<<< HEAD
* {
    padding: 0;
    
    

}
body {
    
    width: 30vw;
    align-content: center;
    justify-content: center;
    margin: 50px;
    

}

.calculator {
    background-color: black;
    padding: 10px;
    height: 85vh;
    border-radius: 5px;
    width: 88%;
            
}
input {
    background-color: antiquewhite;
    padding: 30px;
    width: 82%;
    margin-bottom: 5px;
    border-radius: 10px;
}
.number {
   margin-left: 5px;
    font-size: larger;

}
button {
    padding: 38px;
    border: 2px solid white;
    margin: 2px;
    
}
.buttonCE, 
.buttonP,
.buttonE {
    padding: 25px;
    height: 90px;
    font-weight: bold;
    color: black;
}
.zero,
.dot {
    padding: 25px;
    height: 80px;
    font-weight: bold;
    color: black;
}
.buttonCE {
    background-color: red;
}
.buttonP,
.buttonE {
    background-color: aqua;
}
p {
    color: white;
    padding: 15px ;
    margin-left: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 150%;
=======
* {
    padding: 0;
    
    

}
body {
    
    width: 30vw;
    align-content: center;
    justify-content: center;
    margin: 50px;
    

}

.calculator {
    background-color: black;
    padding: 10px;
    height: 85vh;
    border-radius: 5px;
    width: 88%;
            
}
input {
    background-color: antiquewhite;
    padding: 30px;
    width: 82%;
    margin-bottom: 5px;
    border-radius: 10px;
}
.number {
   margin-left: 5px;
    font-size: larger;

}
button {
    padding: 38px;
    border: 2px solid white;
    margin: 2px;
    
}
.buttonCE, 
.buttonP,
.buttonE {
    padding: 25px;
    height: 90px;
    font-weight: bold;
    color: black;
}
.zero,
.dot {
    padding: 25px;
    height: 80px;
    font-weight: bold;
    color: black;
}
.buttonCE {
    background-color: red;
}
.buttonP,
.buttonE {
    background-color: aqua;
}
p {
    color: white;
    padding: 15px ;
    margin-left: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 150%;
>>>>>>> 7b4181f60eed748019e8465ff02b3862ec8643bd
}